<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.product.mapper.SpuSaleAttrMapper">
    <resultMap id="SpuSaleAttrMap" type="com.atguigu.gmall.model.product.SpuSaleAttr" autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.model.product.SpuSaleAttrValue" autoMapping="true">
            <id property="id" column="sale_attr_value_id"></id>
        </collection>
    </resultMap>
<!--    根据skuid spuid 查询商品的销售属性、销售属性值，并根据skuid锁定-->
    <select id="getSpuSaleAttrAndSaleAttrValues" resultMap="SpuSaleAttrMap">
        select ssa.id,
               ssa.spu_id,
               ssa.base_sale_attr_id,
               ssa.sale_attr_name,
               ssav.id sale_attr_value_id,
               ssav.sale_attr_value_name,
               sav.sku_id,
               if(sav.sku_id is null ,0,1) is_checked
        from spu_sale_attr ssa
         inner join spu_sale_attr_value ssav
            on ssa.base_sale_attr_id = ssav.base_sale_attr_id and ssa.spu_id=ssav.spu_id
        left join sku_sale_attr_value sav on sav.sale_attr_value_id= ssav.id and sav.sku_id=#{skuId}
        where ssa.spu_id=#{spuId}
        order by ssa.base_sale_attr_id , ssav.id;
    </select>

</mapper>